{% extends 'estacionamento/basepublic.html' %}
    
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}

<div class="infocontainer">
    <div class="infoblock">
        <img class="logo" src="{% static 'img/check.png' %}" alt="check_segurança">
        <h3 class="title">SEGURANÇA</h3>
    </div>

    <div class="infoblock">
        <img class="logo" src="{% static 'img/check.png' %}" alt="acessibilidade">
        <h3 class="title">ACESSIBILIDADE</h3>
    </div>

    <div class="infoblock">
        <img class="logo" src="{% static 'img/check.png' %}" alt="disponibilidade">
        <h3 class="title">24 HORAS POR DIA<br> 7 DIAS/SEMANA</h3>
    </div>
</div>

{% endblock %}


            

        
        
            

        

        
        
    </body>
</html>
